<table id="files">
    <% if (key.size > 0) && (!is_jailed) %>
        <tr>
            <td>
                <%
                    new_key = key[0..-2]
                    dir = new_key
                        .map { |k| URI.encode_www_form_component(k) }
                        .join('/')
                    href = '/view/' + dir
                %>
                <a href="<%= href %>">&#128193; ..</a>
            </td>
        </tr>
    <% end %>
    <% file_tree.each do |branch| %>
        <%
            next if branch.is_a?(String)
            branch = branch.keys[0]
            new_key = key.size == 0 ? [branch] : (key + [branch])
            dir = new_key
                .map { |k| URI.encode_www_form_component(k) }
                .join('/')
            href = '/view/' + dir
        %>
        <tr>
            <td>
                <a href="<%= href %>">&#128193; <%= branch %></a>
            </td>
        </tr>
    <% end %>
    <% file_tree.each do |branch| %>
        <%
            next unless branch.is_a?(String)
            all_segments = key.empty? ? [branch] : key + [branch]
            encoded_segments = all_segments.map do |segment|
                URI.encode_www_form_component(segment)
            end
            download_href = '/download/' + encoded_segments.join('/')
            delete_href = '/delete/' + encoded_segments.join('/')
        %>
        <tr>
            <td>
                <a href="<%= download_href %>"><%= branch %></a>
            </td>
            <td>
                <a onclick="deleteFile('<%= delete_href %>')">&#128465;</a>
            </td>
        </tr>
    <% end %>
</table>

<script>
    let deleteFile = (uri) => {
        if (confirm("Are you sure?")) {
            fetch(uri, {
                method: 'GET',
                headers: {
                    'Content-Type': 'application/json',
                }
            })
            .then(response => {
                if (response.ok) {
                    window.location.reload()
                } else {
                    alert('Error deleting file. Please try again.')
                }
            })
            .catch(error => {
                console.error('Error:', error)
                alert('Error deleting file. Please try again.')
            });
        }
    }
</script>