<table id="files">
    <% unless key.size == 0 %>
        <tr>
            <td>
                <% 
                    d = key[0..-2].join('/')
                    href = '/view/' + URI.encode_www_form_component(d)
                %>
                <a href="<%= href %>">&#128193; ..</a>
            </td>
        </tr>
    <% end %>
    <% file_tree.each do |branch| %>
        <%
            next if branch.is_a?(String)
            branch = branch.keys[0]
            d = key.size == 0 ? branch : (key + [branch]).join('/')
            href = '/view/' + URI.encode_www_form_component(d)
        %>
        <tr>
            <td>
                <a href="<%= href %>">&#128193; <%= branch %></a>
            </td>
        </tr>
    <% end %>
    <% file_tree.each do |branch| %>
        <%
            next unless branch.is_a?(String)
            all_segments = key.empty? ? [branch] : key + [branch]
            encoded_segments = all_segments.map do |segment|
                URI.encode_www_form_component(segment)
            end
            href = '/download/' + encoded_segments.join('/')
        %>
        <tr>
            <td>
                <a href="<%= href %>"><%= branch %></a>
            </td>
        </tr>
    <% end %>
</table>