<!DOCTYPE html>
<html>
<%= erb :_head, locals: { copy: @copy } %>
<body>
    <div id="page">
        <div class="toolbar">
            <div class="toolbar-left">
                <span class="wordmark"><!-- <%= @copy[:title] %> --></span>
                <%= erb :_breadcrumb, locals: { key: @key } rescue '' %>
                <button class="btn btn-ghost" onclick="window.location = '/logout'">Logout</button>
            </div>
            <div class="buttons">
                <button class="btn btn-secondary" onclick="showNewFolder()">New Folder</button>
                <button class="btn btn-primary" onclick="showUpload()">&#8593; Upload</button>
            </div>
        </div>

        <div class="file-table-wrap">
            <%= erb :_images, locals: { file_tree: @file_tree, key: @key, is_jailed: @is_jailed } %>
        </div>

        <%= erb :_modal_base %>
        <%= erb :_file_info_modal, locals: { key: @key } %>
        <%= erb :_upload_modal, locals: { key: @key } %>
        <%= erb :_new_folder_modal, locals: { key: @key } %>
        <%= erb :_move_modal, locals: { key: @key, all_dirs: @all_dirs } %>
    </div>
</body>
</html>
