<!DOCTYPE html>
<html>
<%= erb :_head, locals: { copy: @copy } %>
<body>
    <div id="page">
        <div class="toolbar">
            <div class="toolbar-left">
                <span class="wordmark"><!-- <%= @copy[:title] %> --></span>
                <%= erb :_breadcrumb, locals: { key: @key } rescue '' %>
            </div>
            <div class="buttons">
                <button class="btn btn-ghost" onclick="window.location = '/logout'">Logout</button>
                <button class="btn btn-primary" onclick="window.location = '/upload/<%= @key.join('/') %>'">&#8593; Upload</button>
                <button class="btn btn-secondary" onclick="window.location = '/new_folder/<%= @key.join('/') %>'">New Folder</button>
            </div>
        </div>

        <div class="file-table-wrap">
            <%= erb :_images, locals: { file_tree: @file_tree, key: @key, is_jailed: @is_jailed } %>
        </div>

        <%= erb :_file_info, locals: {} %>
    </div>
</body>
</html>
